<div class="card overflow-hidden">
    <div class="position-relative">
        <a href="javascript:void(0) position-relative">
            <img [src]="this?.instituto?.portada | imagen" class="card-img-top rounded-0 object-fit-cover" alt="portada" height="440">
        </a>
        <!-- <span class="badge bg-white text-dark rounded-circle lh-sm mb-10 me-10 py-1 px-2 position-absolute bottom-0 end-0">
		</span> -->
        <img [src]="this?.instituto?.logo | imagen:'logo'" alt="logo" class="rounded-circle position-absolute bottom-0 start-0 mb-n10 ms-10" width="80" height="80" data-bs-toggle="tooltip" data-bs-placement="top" [attr.data-bs-title]="this.instituto.nombre">
    </div>
    <div class="card-body p-2 ">
        <span class="badge text-bg-light fs-3 rounded-4 py-1 px-2 lh-sm  mt-3"> {{ this.instituto.tipoInstituto }} </span>

        <h2 class="fs-9 fw-semibold my-4 d-flex align-items-center"> {{ this?.instituto?.nombre }} <a [routerLink]="['/institucion/informacion', this.instituto.id]" class="btn btn-circle btn-secondary mx-2"><span class="iconify fs-8" data-icon="basil:edit-outline"></span></a></h2>

        <!-- <div class="d-flex align-items-center">
            <div class="d-flex align-items-center gap-2"><i class="ti ti-eye text-dark fs-5"></i> {{ this?.instituto?.vistas || 0 }} </div>
        </div> -->
    </div>
    <div class="card-body border-top p-4">
        <h2 class="fs-8 fw-semibold mb-3">Descripcion</h2>
        <p class="mb-3">
            {{ this.instituto.descripcion }}
        </p>
        <div class="border-top mt-7 pt-7">
            <h3 class="fw-semibold">Ofertas Educativas.</h3>
            <ul class="my-3 ps-4 text-dark">
                <li *ngFor="let item of this?.instituto?.ofertasEducativas" class="d-flex align-items-center gap-2">
                    <span class="p-1 bg-dark rounded-circle"></span> {{ item }} </li>
            </ul>
        </div>
        <!-- <div class="border-top mt-7 pt-7">
            <h3 class="fw-semibold">Order list.</h3>
            <ol class="my-3 text-dark">
                <li>Gigure out what it is or</li>
                <li>The links it currently</li>
                <li>It allows you to start your bid</li>
                <li>Gigure out what it is or</li>
                <li>The links it currently</li>
                <li>It allows you to start your bid</li>
            </ol>
        </div>
        <div class="border-top mt-7 pt-7">
            <h3 class="fw-semibold">Quotes</h3>
            <div class="p-3">
                <h6 class="mb-0 fs-4 fw-semibold"><i class="ti ti-quote fs-7"></i>Life is short, Smile while you still have teeth!</h6>
            </div>
        </div> -->
    </div>
</div>
