<!-- --------------------------------------------------- -->
<!-- Header Start -->
<!-- --------------------------------------------------- -->
<header class="app-header sticky-top">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="d-flex navbar-nav mb-0">
                <li class="nav-item">
                    <a class="nav-link sidebartoggler nav-icon-hover" id="sidebarCollapse" href="javascript:void(0)">
                        <div class="logo">
                            <h3 id="GoSkul">
                                <a routerLink="/" style='text-decoration:none; color:black;'>
									Go<b>Escuela</b>
								</a>
                            </h3>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav quick-links d-none d-lg-flex">
                <li class="nav-item dropdown-hover d-none d-lg-block me-2">
                    <a class="nav-link" routerLink="/universidades">Universidades</a>
                </li>
                <li class="nav-item dropdown-hover d-none d-lg-block">
                    <a class="nav-link" routerLink="/preparatorias">Preparatorias</a>
                </li>
                <li class="nav-item dropdown-hover d-none d-lg-block">
                    <a class="nav-link" routerLink="/secundarias">Secundarias</a>
                </li>
                <li class="nav-item dropdown-hover d-none d-lg-block">
                    <a class="nav-link" routerLink="/primarias">Primarias</a>
                </li>
                <li class="nav-item dropdown-hover d-none d-lg-block">
                    <a class="nav-link" routerLink="/registro">Registrar Informacion</a>
                </li>
            </ul>
            <button class="navbar-toggler nav-link border-0" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<div>
					<a class="nav-link position-relative nav-icon-hover" href="javascript:void(0)" id="drop3"
						aria-expanded="false">
						<form class="nav-link position-relative">
							<input type="text" class="form-control rounded-3 py-2 ps-5 text-dark" id="search"
								placeholder="Buscar">
							<span
								class="iconify text-dark position-absolute top-50 start-0 translate-middle-y text-dark ms-3"
								data-icon="solar:magnifer-linear"></span>
						</form>
					</a>
					<!-- <span class="iconify fs-7" data-icon="solar:menu-dots-bold-duotone"></span> -->
				</div>
			</button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="d-flex align-items-center justify-content-between">
                    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-center">

                        <!-- BUSCAR MODO ESCRITORIO -->
                        <li class="nav-item dropdown d-none d-lg-block">
                            <a class="nav-link position-relative nav-icon-hover" href="javascript:void(0)" id="drop3" aria-expanded="false">
                                <form class="nav-link position-relative">
                                    <input type="text" class="form-control rounded-3 py-2 ps-5 text-dark" id="search" placeholder="Buscar">
                                    <span class="iconify text-dark position-absolute top-50 start-0 translate-middle-y text-dark ms-3" data-icon="solar:magnifer-linear"></span>
                                </form>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link position-relative ms-7" href="javascript:void(0)" id="drop1" aria-expanded="false">
                                <div class="d-flex align-items-center flex-shrink-0">
                                    <div class="user-profile me-sm-3 me-2">
                                        <img src="../assets/images/user/user6.jpg" width="45" class="rounded-circle" alt="">
                                    </div>

                                    <div class="d-none d-sm-block">
                                        <h6 class="fw-bold fs-4 mb-1 profile-name">
                                            Mike Nielsen
                                        </h6>
                                        <p class="fs-3 lh-base mb-0 profile-subtext">
                                            Admin
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- --------------------------------------------------- -->
<!-- Header End -->
<!-- --------------------------------------------------- -->


<!-- Breadcrumb Start -->
<!-- <app-breadcrumbs></app-breadcrumbs> -->

<!-- Breadcrumb End -->