<header class="app-header sticky-top">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="d-flex navbar-nav mb-0">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link d-flex d-lg-none align-items-center justify-content-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobilenavbar" aria-controls="offcanvasWithBothOptions">
                        <span class="iconify fs-7 text-dark" data-icon="solar:list-bold-duotone"></span>
                    </a>
                </li>
            </ul>
            <ul class="d-flex navbar-nav mb-0 d-none d-xl-block d-lg-block">
                <a class="nav-link sidebartoggler nav-icon-hover" id="sidebarCollapse" href="javascript:void(0)">
                    <div class="logo">
                        <h3 id="GoSkul">
                            <a routerLink="/" style='text-decoration:none; color:black;'>
								Go<b>Escuela</b>
							</a>
                        </h3>
                    </div>
                </a>
            </ul>
            <ul class="navbar-nav quick-links d-none d-lg-flex">
                <li class="nav-item dropdown-hover d-none d-lg-block me-2">
                    <a class="nav-link" routerLink="/universidades">Universidades</a>
                </li>
                <li class="nav-item dropdown-hover d-none d-lg-block">
                    <a class="nav-link" routerLink="/preparatorias">Preparatorias</a>
                </li>
                <li class="nav-item dropdown-hover d-none d-lg-block">
                    <a class="nav-link" routerLink="/secundarias">Secundarias</a>
                </li>
                <li class="nav-item dropdown-hover d-none d-lg-block">
                    <a class="nav-link" routerLink="/primarias">Primarias</a>
                </li>
                <li class="nav-item dropdown-hover d-none d-lg-block">
                    <a class="nav-link" routerLink="/registro">Registrar</a>
                </li>
            </ul>
            <div class="d-block d-lg-none">
                <a class="nav-link sidebartoggler nav-icon-hover" id="sidebarCollapse" href="javascript:void(0)">
                    <div class="logo">
                        <h3 id="GoSkul">
                            <a routerLink="/" style='text-decoration:none; color:black;'>
								Go<b>Escuela</b>
							</a>
                        </h3>
                    </div>
                </a>
            </div>
            <button class="navbar-toggler nav-link border-0" data-bs-toggle="modal" data-bs-target="#exampleModal" href="javascript:void(0)">
				<span class="iconify text-dark fs-6" data-icon="solar:magnifer-linear"></span>
			</button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="d-flex align-items-center justify-content-between">
                    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-center">
                        <li class="nav-item dropdown d-none d-lg-block">
                            <a class="nav-link position-relative nav-icon-hover" data-bs-toggle="modal" data-bs-target="#exampleModal" href="javascript:void(0)">
                                <span class="iconify text-dark fs-6" data-icon="solar:magnifer-linear"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<!--  Search Bar -->
<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content rounded-1">
            <div class="modal-header border-bottom">
                <input [(ngModel)]="this.buscarLike" name="buscarLike" type="search" class="form-control fs-3" placeholder="Buscar" id="search2" (keyup)="this.obtenerInstituciones()" />
                <span data-bs-dismiss="modal" class="lh-1 cursor-pointer" (click)="this.restablecerBuscador()">
					<i class="ti ti-x fs-5 ms-3"></i>
				</span>
            </div>
            <div class="modal-body message-body" data-simplebar="">
                <h5 class="mb-0 fs-5 p-1">Buscar {{ this.buscarLike }}</h5>
                <ul *ngIf="this.instituciones" class="list mb-0 py-2">
                    <li *ngFor="let item of this.instituciones;" class="p-2 m-2 bg-hover-light-black" (click)="this.restablecerBuscador()" [routerLink]="this.obtenerRutaDetalle(item)" [attr.data-bs-dismiss]="'modal'">
                        <a>
                            <span class="fs-3 text-dark fw-normal d-block"> {{ item.nombre }} </span>
                            <!-- <span class="fs-3 text-muted d-block">/dashboards/dashboard1</span> -->
                        </a>
                    </li>
                </ul>
                <ul *ngIf="this.instituciones.length <= 0 && this.buscarLike !== ''" class="list mb-0 py-2">
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-dark fw-normal d-block"> {{ 'No Se Encontraron Coincidencias.' }}
							</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
