<!-- CONTENEDOR -->
<div class="container-fluid">
    <!-- CABECERA -->
    <app-header></app-header>
    <!-- BREADCRUMBS / IMAGEN PRINCIPAL -->
    <app-breadcrumbs></app-breadcrumbs>
    <!-- SISTEMA DE RUTAS -->
    <section class="course">
        <div class="card">
            <div class="card-body">
                <!-- INFORMACION DEL RENDER -->
                <!-- <app-section></app-section> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</div>
