<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

  <!-- --------------------------------------------------- -->
  <!-- Sidebar End -->
  <!-- --------------------------------------------------- -->

  <!-- --------------------------------------------------- -->
  <!-- Main wrapper -->
  <!-- --------------------------------------------------- -->
  <!-- <div class="body-wrapper">

  </div> -->
  <div class="container-fluid">
    <!-- --------------------------------------------------- -->
    <!-- Header Start -->
    <!-- --------------------------------------------------- -->
    <header class="app-header sticky-top">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="d-flex navbar-nav mb-0">
            <li class="nav-item">
              <a class="nav-link sidebartoggler nav-icon-hover" id="sidebarCollapse" href="javascript:void(0)">
                <div class="logo">
                  <h3 id="GoSkul"><a href="/" style='text-decoration:none; color:black;'>Go<b>Escuela</b></a>
                  </h3>
                </div>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav quick-links d-none d-lg-flex">
            <li class="nav-item dropdown-hover d-none d-lg-block me-2">
              <a class="nav-link" href="app-calendar.html">Universidades</a>
            </li>
            <li class="nav-item dropdown-hover d-none d-lg-block">
              <a class="nav-link" href="app-email.html">Preparatorias</a>
            </li>
            <li class="nav-item dropdown-hover d-none d-lg-block">
              <a class="nav-link" href="app-email.html">Secundarias</a>
            </li>
            <li class="nav-item dropdown-hover d-none d-lg-block">
              <a class="nav-link" href="app-email.html">Primarias</a>
            </li>
          </ul>
          <!-- <div class="d-block d-lg-none">
            <a href="index.html">
              <img src="../assets/images/logo/logo-dark.svg" class="logo-dark" />
              <img src="../assets/images/logo/logo-light.svg" class="logo-light" />
            </a>
          </div> -->
          <button class="navbar-toggler nav-link border-0" data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <div>
              <a class="nav-link position-relative nav-icon-hover" href="javascript:void(0)" id="drop3"
                aria-expanded="false">
                <form class="nav-link position-relative">
                  <input type="text" class="form-control rounded-3 py-2 ps-5 text-dark" id="search"
                    placeholder="Buscar">
                  <span class="iconify text-dark position-absolute top-50 start-0 translate-middle-y text-dark ms-3"
                    data-icon="solar:magnifer-linear"></span>
                </form>
              </a>
              <!-- <span class="iconify fs-7" data-icon="solar:menu-dots-bold-duotone"></span> -->
            </div>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="d-flex align-items-center justify-content-between">
              <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-center">

                <!-- BUSCAR MODO ESCRITORIO -->
                <li class="nav-item dropdown d-none d-lg-block">
                  <a class="nav-link position-relative nav-icon-hover" href="javascript:void(0)" id="drop3"
                    aria-expanded="false">
                    <form class="nav-link position-relative">
                      <input type="text" class="form-control rounded-3 py-2 ps-5 text-dark" id="search"
                        placeholder="Buscar">
                      <span class="iconify text-dark position-absolute top-50 start-0 translate-middle-y text-dark ms-3"
                        data-icon="solar:magnifer-linear"></span>
                    </form>
                  </a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link position-relative ms-7" href="javascript:void(0)" id="drop1" aria-expanded="false">
                    <div class="d-flex align-items-center flex-shrink-0">
                      <div class="user-profile me-sm-3 me-2">
                        <img src="../assets/images/user/user6.jpg" width="45" class="rounded-circle" alt="">
                      </div>

                      <div class="d-none d-sm-block">
                        <h6 class="fw-bold fs-4 mb-1 profile-name">
                          Mike Nielsen
                        </h6>
                        <p class="fs-3 lh-base mb-0 profile-subtext">
                          Admin
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- --------------------------------------------------- -->
    <!-- Header End -->
    <!-- --------------------------------------------------- -->

    <!-- Breadcrumb Start -->
    <div class="card overflow-hidden">
      <div class="card-body p-0 container-text" >
        <img
          src="../assets/img3.jpg"
          alt="" width="100%" height="450px">
          <div class="centered">
            <h1 class="text-white">¡Encuentra tu escuela favorita!</h1>
            <p>Los errores son parte de los humanos...</p>
          </div>
      </div>
    </div>
    <!-- Breadcrumb End -->
    <section class="course">
      <div class="card">
        <div class="card-body">
          <!-- <div class="mb-4 pb-2 d-flex align-items-center">
            <h5 class="mb-0">Todays Classes</h5>

            <button class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              Add Classes
            </button>
          </div> -->

          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="card overflow-hidden">
                <div class="position-relative">
                  <img src="../assets/images/background/bootstrap.png" class="card-img-top" alt="" />
                  <div class="course-badge">
                    <span class="bg-danger text-white px-2 py-1 rounded-3">Hot</span>
                  </div>
                </div>

                <div class="card-body">
                  <p class="fs-3 fw-normal text-muted mb-2">
                    Bootstrap Classes
                  </p>
                  <h6 class="fs-5 mb-4 pb-2">
                    Flutter & Firebase: Build a Complete App for iOS
                  </h6>
                  <ul class="hstack d-block d-sm-flex gap-3 mb-4 pb-2 text-muted">
                    <li>
                      <a href="javascript:void(0)" class="text-muted d-flex align-items-center"><i
                          class="far fa-clock fs-6 me-2 pe-1"></i>8
                        lessons</a>
                    </li>
                    <li class="d-none d-sm-block">/</li>
                    <li>
                      <a href="javascript:void(0)" class="text-muted d-flex align-items-center"><i
                          class="fas fa-book fs-6 me-2 pe-1"></i>18h
                        20m</a>
                    </li>
                  </ul>
                  <div class="d-block d-sm-flex align-items-center justify-content-between">
                    <div class="hstack">
                      <img src="../assets/images/user/user2.jpg" class="me-2 pe-1 rounded-3" alt="" width="50" />
                      <h6 class="mb-0">Dr. Angela Burr</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card overflow-hidden">
                <div class="position-relative">
                  <img src="../assets/images/background/bootstrap.png" class="card-img-top" alt="" />
                  <div class="course-badge">
                    <span class="bg-danger text-white px-2 py-1 rounded-3">Hot</span>
                  </div>
                </div>

                <div class="card-body">
                  <p class="fs-3 fw-normal text-muted mb-2">
                    Bootstrap Classes
                  </p>
                  <h6 class="fs-5 mb-4 pb-2">
                    Flutter & Firebase: Build a Complete App for iOS
                  </h6>
                  <ul class="hstack d-block d-sm-flex gap-3 mb-4 pb-2 text-muted">
                    <li>
                      <a href="javascript:void(0)" class="text-muted d-flex align-items-center"><i
                          class="far fa-clock fs-6 me-2 pe-1"></i>8
                        lessons</a>
                    </li>
                    <li class="d-none d-sm-block">/</li>
                    <li>
                      <a href="javascript:void(0)" class="text-muted d-flex align-items-center"><i
                          class="fas fa-book fs-6 me-2 pe-1"></i>18h
                        20m</a>
                    </li>
                  </ul>
                  <div class="d-block d-sm-flex align-items-center justify-content-between">
                    <div class="hstack">
                      <img src="../assets/images/user/user2.jpg" class="me-2 pe-1 rounded-3" alt="" width="50" />
                      <h6 class="mb-0">Dr. Angela Burr</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card overflow-hidden">
                <div class="position-relative">
                  <img src="../assets/images/background/bootstrap.png" class="card-img-top" alt="" />
                  <div class="course-badge">
                    <span class="bg-danger text-white px-2 py-1 rounded-3">Hot</span>
                  </div>
                </div>

                <div class="card-body">
                  <p class="fs-3 fw-normal text-muted mb-2">
                    Bootstrap Classes
                  </p>
                  <h6 class="fs-5 mb-4 pb-2">
                    Flutter & Firebase: Build a Complete App for iOS
                  </h6>
                  <ul class="hstack d-block d-sm-flex gap-3 mb-4 pb-2 text-muted">
                    <li>
                      <a href="javascript:void(0)" class="text-muted d-flex align-items-center"><i
                          class="far fa-clock fs-6 me-2 pe-1"></i>8
                        lessons</a>
                    </li>
                    <li class="d-none d-sm-block">/</li>
                    <li>
                      <a href="javascript:void(0)" class="text-muted d-flex align-items-center"><i
                          class="fas fa-book fs-6 me-2 pe-1"></i>18h
                        20m</a>
                    </li>
                  </ul>
                  <div class="d-block d-sm-flex align-items-center justify-content-between">
                    <div class="hstack">
                      <img src="../assets/images/user/user2.jpg" class="me-2 pe-1 rounded-3" alt="" width="50" />
                      <h6 class="mb-0">Dr. Angela Burr</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card overflow-hidden">
                <div class="position-relative">
                  <img src="../assets/images/background/bootstrap.png" class="card-img-top" alt="" />
                  <div class="course-badge">
                    <span class="bg-danger text-white px-2 py-1 rounded-3">Hot</span>
                  </div>
                </div>

                <div class="card-body">
                  <p class="fs-3 fw-normal text-muted mb-2">
                    Bootstrap Classes
                  </p>
                  <h6 class="fs-5 mb-4 pb-2">
                    Flutter & Firebase: Build a Complete App for iOS
                  </h6>
                  <ul class="hstack d-block d-sm-flex gap-3 mb-4 pb-2 text-muted">
                    <li>
                      <a href="javascript:void(0)" class="text-muted d-flex align-items-center"><i
                          class="far fa-clock fs-6 me-2 pe-1"></i>8
                        lessons</a>
                    </li>
                    <li class="d-none d-sm-block">/</li>
                    <li>
                      <a href="javascript:void(0)" class="text-muted d-flex align-items-center"><i
                          class="fas fa-book fs-6 me-2 pe-1"></i>18h
                        20m</a>
                    </li>
                  </ul>
                  <div class="d-block d-sm-flex align-items-center justify-content-between">
                    <div class="hstack">
                      <img src="../assets/images/user/user2.jpg" class="me-2 pe-1 rounded-3" alt="" width="50" />
                      <h6 class="mb-0">Dr. Angela Burr</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card overflow-hidden">
                <div class="position-relative">
                  <img src="../assets/images/background/bootstrap.png" class="card-img-top" alt="" />
                  <div class="course-badge">
                    <span class="bg-danger text-white px-2 py-1 rounded-3">Hot</span>
                  </div>
                </div>

                <div class="card-body">
                  <p class="fs-3 fw-normal text-muted mb-2">
                    Bootstrap Classes
                  </p>
                  <h6 class="fs-5 mb-4 pb-2">
                    Flutter & Firebase: Build a Complete App for iOS
                  </h6>
                  <ul class="hstack d-block d-sm-flex gap-3 mb-4 pb-2 text-muted">
                    <li>
                      <a href="javascript:void(0)" class="text-muted d-flex align-items-center"><i
                          class="far fa-clock fs-6 me-2 pe-1"></i>8
                        lessons</a>
                    </li>
                    <li class="d-none d-sm-block">/</li>
                    <li>
                      <a href="javascript:void(0)" class="text-muted d-flex align-items-center"><i
                          class="fas fa-book fs-6 me-2 pe-1"></i>18h
                        20m</a>
                    </li>
                  </ul>
                  <div class="d-block d-sm-flex align-items-center justify-content-between">
                    <div class="hstack">
                      <img src="../assets/images/user/user2.jpg" class="me-2 pe-1 rounded-3" alt="" width="50" />
                      <h6 class="mb-0">Dr. Angela Burr</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card overflow-hidden">
                <div class="position-relative">
                  <img src="../assets/images/background/bootstrap.png" class="card-img-top" alt="" />
                  <div class="course-badge">
                    <span class="bg-danger text-white px-2 py-1 rounded-3">Hot</span>
                  </div>
                </div>

                <div class="card-body">
                  <p class="fs-3 fw-normal text-muted mb-2">
                    Bootstrap Classes
                  </p>
                  <h6 class="fs-5 mb-4 pb-2">
                    Flutter & Firebase: Build a Complete App for iOS
                  </h6>
                  <ul class="hstack d-block d-sm-flex gap-3 mb-4 pb-2 text-muted">
                    <li>
                      <a href="javascript:void(0)" class="text-muted d-flex align-items-center"><i
                          class="far fa-clock fs-6 me-2 pe-1"></i>8
                        lessons</a>
                    </li>
                    <li class="d-none d-sm-block">/</li>
                    <li>
                      <a href="javascript:void(0)" class="text-muted d-flex align-items-center"><i
                          class="fas fa-book fs-6 me-2 pe-1"></i>18h
                        20m</a>
                    </li>
                  </ul>
                  <div class="d-block d-sm-flex align-items-center justify-content-between">
                    <div class="hstack">
                      <img src="../assets/images/user/user2.jpg" class="me-2 pe-1 rounded-3" alt="" width="50" />
                      <h6 class="mb-0">Dr. Angela Burr</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-simplebar>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Classes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="name1" class="form-label">Class Name</label>
            <input type="text" class="form-control" id="name1" />
          </div>
          <div class="mb-3">
            <label for="class-profile" class="form-label">Class Profile</label>
            <input class="form-control" type="file" id="class-profile" />
          </div>
          <div class="mb-3">
            <label for="class2" class="form-label">Class Detail</label>
            <input type="text" class="form-control" id="class2" />
          </div>
          <div class="mb-3">
            <label for="section3" class="form-label">Lessons</label>
            <input type="text" class="form-control" id="section3" />
          </div>
          <div class="mb-3">
            <label for="bod" class="form-label">Time Duration</label>
            <input type="text" class="form-control" id="bod" />
          </div>
          <div class="mb-3">
            <label for="parents" class="form-label">Teacher Name</label>
            <input type="text" class="form-control" id="parents" />
          </div>
          <div class="mb-3">
            <label for="profile" class="form-label">Teacher Profile</label>
            <input class="form-control" type="file" id="profile" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Add Classes
        </button>
      </div>
    </div>
  </div>
  <div class="dark-transparent sidebartoggler"></div>
</div>

<!--  Search Bar -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content rounded-1">
      <div class="modal-header border-bottom">
        <input type="search" class="form-control fs-3" placeholder="Try to searching ..." id="search2" />
        <span data-bs-dismiss="modal" class="lh-1 cursor-pointer">
          <i class="ti ti-x fs-5 ms-3"></i>
        </span>
      </div>
      <div class="modal-body message-body" data-simplebar="">
        <h5 class="mb-0 fs-5 p-1">Quick Page Links</h5>
        <ul class="list mb-0 py-2">
          <li class="p-1 mb-1 bg-hover-light-black">
            <a href="#">
              <span class="fs-3 text-dark fw-normal d-block">Modern</span>
              <span class="fs-3 text-muted d-block">/dashboards/dashboard1</span>
            </a>
          </li>
          <li class="p-1 mb-1 bg-hover-light-black">
            <a href="#">
              <span class="fs-3 text-dark fw-normal d-block">Dashboard</span>
              <span class="fs-3 text-muted d-block">/dashboards/dashboard2</span>
            </a>
          </li>
          <li class="p-1 mb-1 bg-hover-light-black">
            <a href="#">
              <span class="fs-3 text-dark fw-normal d-block">Contacts</span>
              <span class="fs-3 text-muted d-block">/apps/contacts</span>
            </a>
          </li>
          <li class="p-1 mb-1 bg-hover-light-black">
            <a href="#">
              <span class="fs-3 text-dark fw-normal d-block">Posts</span>
              <span class="fs-3 text-muted d-block">/apps/blog/posts</span>
            </a>
          </li>
          <li class="p-1 mb-1 bg-hover-light-black">
            <a href="#">
              <span class="fs-3 text-dark fw-normal d-block">Detail</span>
              <span
                class="fs-3 text-muted d-block">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
            </a>
          </li>
          <li class="p-1 mb-1 bg-hover-light-black">
            <a href="#">
              <span class="fs-3 text-dark fw-normal d-block">Shop</span>
              <span class="fs-3 text-muted d-block">/apps/ecommerce/shop</span>
            </a>
          </li>
          <li class="p-1 mb-1 bg-hover-light-black">
            <a href="#">
              <span class="fs-3 text-dark fw-normal d-block">Modern</span>
              <span class="fs-3 text-muted d-block">/dashboards/dashboard1</span>
            </a>
          </li>
          <li class="p-1 mb-1 bg-hover-light-black">
            <a href="#">
              <span class="fs-3 text-dark fw-normal d-block">Dashboard</span>
              <span class="fs-3 text-muted d-block">/dashboards/dashboard2</span>
            </a>
          </li>
          <li class="p-1 mb-1 bg-hover-light-black">
            <a href="#">
              <span class="fs-3 text-dark fw-normal d-block">Contacts</span>
              <span class="fs-3 text-muted d-block">/apps/contacts</span>
            </a>
          </li>
          <li class="p-1 mb-1 bg-hover-light-black">
            <a href="#">
              <span class="fs-3 text-dark fw-normal d-block">Posts</span>
              <span class="fs-3 text-muted d-block">/apps/blog/posts</span>
            </a>
          </li>
          <li class="p-1 mb-1 bg-hover-light-black">
            <a href="#">
              <span class="fs-3 text-dark fw-normal d-block">Detail</span>
              <span
                class="fs-3 text-muted d-block">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
            </a>
          </li>
          <li class="p-1 mb-1 bg-hover-light-black">
            <a href="#">
              <span class="fs-3 text-dark fw-normal d-block">Shop</span>
              <span class="fs-3 text-muted d-block">/apps/ecommerce/shop</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
