<div class="row mb-3">
    <div class="input-group mb-3">
        <input (keyup)="this.obtenerInstituciones()" [(ngModel)]="this.buscarLike" type="text" class="form-control" placeholder="Buscar..." aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>
</div>
<div class="row">
    <div *ngFor="let item of this.instituciones" class="col-lg-3 col-md-6" [routerLink]="['/secundarias/secundaria/',item.id]">
        <div class="card overflow-hidden cursor-pointer">
            <div class="position-relative">
                <img [src]="item.portada || '' | imagen" class="card-img-top rounded-0 object-fit-cover" alt="portada" />
            </div>

            <div class="card-body">
                <h5 class="fs-3 fw-normal text-muted">
                    <span class="badge rounded-pill bg-primary text-wrap"> {{ item.tipoInstituto }} </span>
                </h5>
                <h6 class="fs-5 mb-4 pb-2">
                    {{ item.nombre }}
                </h6>
                <ul class="hstack d-block d-sm-flex gap-3 mb-4 pb-2 text-muted">
                    <li>
                        <a href="javascript:void(0)" class="text-muted d-flex align-items-center">
                            <i class="far fa-clock fs-6 me-2 pe-1"></i>3 - 5
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="text-muted d-flex align-items-center">
                            <i class="fas fa-book fs-6 me-2 pe-1"></i>{{ item.ofertasEducativas.length }} Ofertas Educativas
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
