<!-- BREADCRUMBS / IMAGEN PRINCIPAL -->
<app-breadcrumbs></app-breadcrumbs>
<div class="row">
    <div *ngFor="let item of instituciones" class="col-lg-3 col-md-6">
        <div class="card overflow-hidden cursor-pointer" [routerLink]="this.obtenerRutaDetalle(item)">
            <div class="position-relative">
                <img [src]="item.portada || '' | imagen" class="card-img-top" alt="" />
                <!-- <div class="course-badge">
                    <span class="bg-danger text-white px-2 py-1 rounded-3">Hot</span>
                </div> -->
            </div>

            <div class="card-body">
                <h5 class="fs-3 fw-normal text-muted">
                    <span class="badge rounded-pill bg-primary text-wrap"> {{ item.tipoInstituto }} </span>
                </h5>
                <h6 class="fs-5 mb-4 pb-2">
                    {{ item.nombre }}
                </h6>
                <ul class="hstack d-block d-sm-flex gap-3 mb-4 pb-2 text-muted">
                    <li>
                        <a href="javascript:void(0)" class="text-muted d-flex align-items-center">
                            <i class="far fa-clock fs-6 me-2 pe-1"></i>3 - 5
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="text-muted d-flex align-items-center">
                            <i class="fas fa-book fs-6 me-2 pe-1"></i>{{ item.ofertasEducativas.length }} Ofertas Educativas
                        </a>
                    </li>
                </ul>
                <!-- <div class="d-block d-sm-flex align-items-center justify-content-between">
                    <div class="hstack">
                        <img src="../assets/images/user/user2.jpg" class="me-2 pe-1 rounded-3" alt="" width="50" />
                        <h6 class="mb-0">Dr. Angela Burr</h6>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
